body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Sans-Serif;
  background-color: #F5F5F5 ;
}

/* header section style*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 9999;
}

.logo {
  height: 100px;
  margin-top: 1.5%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 2px solid #fff;
}

/* backgound for top home style */
.wallpaper-container {
  min-height: 800px;
  position: absolute;
}

.background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #1a1a1a, #0CC0DF);
  z-index: -1;
  opacity: 0.8;
  animation: moveShapes 8s linear 0.5 forwards;
}

@keyframes moveShapes {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.scroll-arrow {
  position: fixed;
  bottom: 80px;
  right: 40px;
  animation: scrollAnimation 1s infinite;
}

.scroll-arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border: solid white;
  border-color: #333;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  animation: arrowBlink 1s infinite;

}

@keyframes scrollAnimation {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes arrowBlink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}


/* home section styles */

.home-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 25%;
  margin-top: -30px;
}

.home-content h1 {
  color: #fff;
  font-size: 60px;
  margin: 0;
}

.home-content p {
  color: #fff;
  font-size: 25px;
  margin: 10px -170px;
}

.home-logo {
  width: 20%;
  height: auto;
  margin-top: 50px;  
  left: auto;
  margin-right: 20px;
}

/* social media section styles */

.social-media-icons a {
  color: #fff;
  margin: 0 10px;
}

.social-media img {
  width: 40px;
  height: 40px;
  margin: 10px ;
}

/* about me section styles */

.headshot{
  width: 100%;
  max-width: 300px; 
  position: absolute;
  border-radius: 10%;
  right: 0;
  top: 15%;
  margin-right: 90px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.about {
  overflow-x: auto;
  min-height: 700px;
  position: relative;
  top: 800px;
  background-color: #FAF9F6;
}

.about-text {
 padding: 3%;
}

.about-text h1 {
  position: relative;
  top: 10px;
  margin-left: 25%;
  color: #333;
  font-size: 40px;
}

.about-text p{
  color: #333;
  font-size: 20px;
  margin-left: 5%;
  margin-right: 40%;
}

/* project section styles */

.project-h1{
  text-align: center;
  font-size: 40px;
  margin-top: 850px;

}

.project-text{
  text-align: center;
  font-size: 20px;
  color: #333;
  margin-top: -20px;
  margin-bottom: 50px;
  font-weight: bold;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  margin: 50px 200px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9FAFA;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  max-height: 70%;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  margin-top: auto;
  text-align: center;
}

.card h2 {
  margin-bottom: 10px;
}

.card-link {
  color: #0CC0DF;
  text-decoration: none;
  transition: color 0.3s;
}

.card-link:hover {
  color: #FF5733;
}

/* Resume section styles */
.resume-container {
  overflow: auto;
  background-color: #FAF9F6;
  margin-top: 25px;
  min-height: 600px;
}

.resume {
  background-color: #FFFFFF;
  margin-top: 10px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.resume-content p {
  margin-top: -10px;
}

.custom-dot-list {
  margin-left: 30px;
  list-style-type: disc;
}

.custom-dot-list li {
  color: color: #333;
  font-size: 18px;
  padding: 5px;
}

/* coursework styles */
.certifications-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  gap: 20px;
  padding: 30px;
  margin-top: -40px;
}

.certification-card {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.certification-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.certification-card p {
  color: #A5A5A5;
  margin-top: 6px;
  margin-bottom: -5px;
}

.skills-bricks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.skill-brick {
  background-color: #0CC0DF;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px
}

/* black button styles */

.button-black-container {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.button-black {
  background-color: #333;
  color: #FAF9F6;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #333;
  margin-bottom:80px;
}

.button-black:hover {
  background-color: #FAF9F6;
  color: #333;
}

/* blue styles */

.button-blue-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.button-blue {
  background-color: #0CC0DF;
  color: #FAF9F6;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #0CC0DF;
  margin-top: 30px;
  margin-bottom:50px;
}

.button-blue:hover {
  background-color: #FAF9F6;
  color: #0CC0DF;
}

/* footer section styles */

.social ul li a {
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
}

.social ul li a span {
  display: block;
  font-size: 14px;
  margin-top: -5px;
}

.social img {
  width: 40px;
  height: 40px;
  margin: 10px ;
}

footer {
  width: 100%;
  background-color: #333;
  z-index: 9999;
  color: #fff;
}

footer h1{
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

footer p{
  font-weight: bold;
  margin-left: 30px;
  margin-top: 50px;
}

.heading-h1{
  text-align: center;
  font-size: 40px;
  margin-top: 80px;
  color: #0CC0DF;
}
.text-p{
  text-align: center;
  color: #A5A5A5;
  font-style: italic;
}

.text-p1{
  color: #333;
  font-size: 20px;
}

#pdf-container {
  width: 60vw;
  height: 90vh;
  padding-left: 20vw;
  padding-right: 20vw;
  margin-top: -90px;
  border: none;
}

